

body{
	background-image: url(bluee.jpg);
	padding: 25px;
	color:white;
}

.in {
	background-color: black;
}
.head{
	background-color: ;
	display: flex;
	flex-wrap: wrap;
	flex-direction: horizontal;
	padding: 20px;
    justify-content: space-between;
    
}
P{
	color: orange;
	margin-top: 0;
	font-size:5em;
	    margin:20px;
	    font-family: 'Redressed', cursive;

}
ul{
margin-top: 0	;
color: white;
 display: flex;
 flex-direction: horizontal;
 justify-content: space-around;
     margin-bottom: 10;
     margin-right: 0px;

}
li{
	color: white;
   margin-bottom: 0;

	margin-top: 20px;


list-style: none;
}
a{
	
	color: white;
	margin-right:20px;
		font-size: 4em;

    padding-bottom: 0;

}

a:hover{
	
	color: orange;
	text-decoration: underline;
	

}
a:hover{

	transition: all 50ms ease;
}
.main{
	
display: flex;
flex-wrap:wrap;
flex-direction:vertical;
justify-content: center;


}

}
.img{
	flex-order:1;
	flex-shrink: 2;

}
.bio{
	flex-order:2;
	align-self: 
	flex-grow:1;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: vertical;
	padding-left: 40px;

	
}
.p{
	order: 1;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 8em;
	font-weight: 300;
}
.m{
	order: 2;
	font-size: 4.5em;
	font-style: italic;
	 font-family: 'Redressed', cursive;
	 color: orange;
	 

	 font-weight: 100;
	 text-align: right;
	 padding: 20px;
}
.o{
	color: white;
	font-size: 3em;
	padding: 20px;
	margin-right:6em;
content: justify;
	font-weight: 5;
	font-family: 'Raleway', sans-serif;
     order: 3;
    
}
span{
	font-style:italic;
	color: red;
}
.ab{
	background-image: url(grey.jpg);
	color: black;


}
.ahead{
	font-size: 6em;
	text-decoration: underline;
		 font-family: 'Redressed', cursive;

}
.para{
	font-size: 3em;
	color: brown;
	font-weight: 30;
	content: justify;
	padding:10px;
	margin-bottom: 20px;

		font-family: 'Raleway', sans-serif;

}
.aca{
	background-image: url(mixed.jpg);
	color: black;
}
#aa{
		 font-family: 'Redressed', cursive;
		 font-size: 7em;
		 text-decoration: underline;
		 text-align:left;
}
#edu1{
	color: black;
    margin-left: 5em;

	
}
h4{
		text-decoration: underline;

font-size:6em;

}
#ol2{
 color:black;
 text-decoration: none;
 list-style:  square;
 font-size: 4em;
 margin-left: 4em;


}
.container{


	color: black;
	margin: 12em;
}
#head{
	color: blue;
	font-size:5em ;
	padding:  10px ;
	text-align: center;
}
.email{
	font-size: 4em;
	color: black;
	margin-left: 10px;


}
.message{
	font-size: 2em;
	text-align: right;
	color: blue;
	padding-top: 40px;
	padding-bottom: 60px;
}